<h3>Search coversheets of accepted NRAO telescope proposals.</h3>
<p>Queries for proposals will search across the following fields:
<ul>
<li>investigator</li>
<li>telescope</li>
<li>proposal code</li>
<li>title</li>
<li>abstract</li>
<li>year</li>
</ul>
</p>
<p>Use the links on the left to limit your search.</p>
